<h2 id="checking">Checking-in/out</h2>

<h4 id="checking-in">Checkin a Guest In</h4>

<ol>
    <li>Check in time is 3pm. If a guest arrives before 3pm and the room is ready and had been checked, they may check in early. </li>
    <li>Before the guest arrives and housekeeping leaves, physically check the room for cleanliness (see checklist).</li>
    <li>Check Internal Comments and Guest Messages section to make sure there are no special requests (microwave, mini fridge, Bottom floor only)</li>
    <li>Open guest’s folio and click the “Print Specification” button and print on the back of Monarch Policy Agreement Paper. When putting the Policy paper in the printer, place the agreement face up with the letter head closest to you.</li>
    <li>When guest arrives ask for credit (Debt) card and ID.</li>
    <li>Have them read and sign the front and back of Policy Agreement while you enter card information and ID information(state and license number).</li>
        <ul>
            <li>If it is Expedia Virtual card we still need a personal card on file for incidentals.</li>
            <li>If card is different that the one we have on file, confirm with guest which card they would like to have charged.</li>
        </ul>
    <li>Confirm phone number with guest. Explain to them they will be receiving another text (they don’t understand the term Zingle) message with WIFI and Ice room passcode. </li>
    <li>Tell guests when lobby will be closing and that someone will be on call in case of emergency, this information will also be sent to them in a text message later in the evening.</li>
    <li>Tell guests about Nectar discount (10% when they show them their room keys).</li>
    <li>Remind them this is a No Smoking property, to be at least 25 feet away from the building.</li>
    <li>Give guest keys and tell them where their room is located.</li>
    <li><em>“Enjoy your stay and let us know if there is anything we can do for you…”</em></li>
    <li>Zingle the Welcome message.</li>
</ol>

<h4 id="charging-guests">Charging a Guest</h4>

<p>After guest has left the lobby charge the guest in full for their stay! The credit card or Expedia Virtual Card will be listed under “Card Details” section. Click on the card number. Sirvoy will ask to send a verification code to your personal cell phone. Enter the verification code that Sirvoy sent you to access the card information. Copy the credit card number and go to authorize.net.</p>

<p>In authorize.net, Click the “Virtual Terminal” link. Select “Charge a Credit Card,” “Authorize and Capture” and paste in the card number, expiration date, and amount due. Under Customer ID, enter the booking number from Sirvoy (eg 29094), and include the guest’s first and last name. VERIFY ALL INFORMATION IS CORRECT, then click the “Submit” button. Copy the Transaction ID number. Return to Sirvoy and click the “Register Payment” button, paste the Transaction ID # in the Register Payment Section.</p>

<p>Note: Charges made in Auth.net and Sirvoy are easy to track. Charges made on the manual credit card machine are not. DO NOT use the manual machine except as a last resort.</p>

<h4 id="managing-stays">Managing a Guest's Stay</h4>

<p>While on shift, guests will naturally have needs for us to assist in, from advice on local area to TV or A/C not working, to a broken toilet. Respond to each issue, aware of balancing the front desk responsibilities to other guests as well. Use the “away from desk” sign when needed.</p>

<p><strong>If a guest requires extra items( toilet paper, lotion, blankets) these items can be found in the laundry room. Be familiar with where things are located.</strong></p>

<p>Do everything you can to make the guest stay excellent.  Example, if in passing you learn it is their anniversary, then we can do something special for their room or stay. Follow up with a Zingle message to add that personal touch.</p>

<h4 id="zingle">Zingle</h4>

<p>A Zingle tab should ALWAYS be open on your computer. These are the “Zings” that should be sent out everyday.</p>

<p>To send a “Zing” go into Zingle and click on the “New” button. Select “new message” and type in the guest’s cell phone number, and first and last name. In the “Message Body” field, select the paper icon on the bottom right and click the template you wish to send. This notifies the guest of our texting service and provides them with a number to text questions and concerns.</p>

<p>Some messages have autoresponders. For example, If a guest sends any sort of message inquiring about Wifi, Zingle will automatically send them the wifi password. If there is an autoresponder, you do not need to respond. Otherwise, a notification will pop up on the Zingle tab and the computer will ding when a message is received. <strong>You must respond to messages immediately!</strong>. When a message is not responded to in 5 minutes you will get another alert and an email. If the message does not receive a response within 10 minutes, Nikki will be notified that you have NOT responded.</p>

<ul>
    <li><strong>Check Out Message:</strong> at 10:00am</li>
    <li><strong>Pillows Fluffed:</strong> 11:00 am/3:00 pm if no response earlier</li>
    <li><strong>Welcome Message:</strong> Upon check in</li>
    <li><strong>Lobby Closing Message:</strong> 9:00 pm</li>
</ul>


<h4 id="checking-out">Checking a Guest Out</h4>

<p>Check out time is 11:00 am. If a guest requests a late checkout by noon and the room is vacant that evening, you may grant their request free of charge. Guests may leave their keys in their room or bring them to the front desk. Once a guest has departed, select the “Checked Out” box in their reservation. A receipt will be automatically emailed to them. If they would like a paper copy, click the “Print Specification” button and print a copy. It will show them that they have a $0 balance due.</p>

<p>If they request a very late check out (after 1:00), you should add a Late Check-out Fee onto their folio. In the open reservation, Click the “Add Extras” button and select “Late Checkout” from the dropdown menu. This will add the charge to their reservation. You will see that they now have a balance due and their card will need to be charged for the additional fee. </p>