<h2 id="payments">Processing Payments</h2>

<p style="text-align: center">In this section:<br>
FILL THIS OUT
</p>

<h4 id="charging-guests-2">Charging a Guest</h4>

<p>After guest has left the lobby charge the guest in full for their stay! The credit card or Expedia Virtual Card will be listed under “Card Details” section. Click on the card number. Sirvoy will ask to send a verification code to your personal cell phone. Enter the verification code that Sirvoy sent you to access the card information. Copy the credit card number and go to authorize.net.</p>

<p>In authorize.net, Click the “Virtual Terminal” link. Select “Charge a Credit Card,” “Authorize and Capture” and paste in the card number, expiration date, and amount due. Under Customer ID, enter the booking number from Sirvoy (eg 29094), and include the guest’s first and last name. VERIFY ALL INFORMATION IS CORRECT, then click the “Submit” button. Copy the Transaction ID number. Return to Sirvoy and click the “Register Payment” button, paste the Transaction ID # in the Register Payment Section.</p>

<p>Note: Charges made in Auth.net and Sirvoy are easy to track. Charges made on the manual credit card machine are not. DO NOT use the manual machine except as a last resort.</p>

<h4 id="rates">Corporate and Special Rates</h4>

<p>If a guest is staying at the Monarch and their company is paying for it, the guest does not need to provide a personal credit card. Instead, the charges should be put on a company card or billed to the company. If a company is paying via credit card, the card should be included when the reservation is created. The card should be charged when the guest arrives, the same as you would charge a personal card. If a company would like to be Invoiced, make sure to collect an email address that invoice should be sent to. All invoices will be taken care of by Hattie.</p>

<p>We offer corporate rate discounts to a number of entities including Gritman, Alta Science and Engineering, NRS, WSU Vet, EMSI, U of I, Crites Seeds, Milestone Decisions,  A-L Compressed Gases, and Government.</p>

<p>Wedding parties may reserve a block of rooms.  Guests receive a 10% discount if staying as part of the wedding.  After check in, if they have more than 10 guest reservations, then we give them a 15% discount (instead of 10%) on their room.</p>

<p>To enter a discount code in Sirvoy, open the booking and click the edit pencil in the “Promotion Code” box on the left hand side. Type in the code and click the save button , The price will be automatically adjusted. The codes are as follows:</p>

    <ul>
        <li><strong>Government Rate:</strong> Set rate for government employees based off a local per diem.  Not on event weekends. $94/night lodging in Latah County when on official travel.</li>
        <li><strong>oneworldmusic:</strong> 10% discount for musicians playing at OWC</li>
        <li><strong>ALCG15:</strong> A-L Compressed Gases discount</li>
        <li><strong>EMSI:</strong> Emsi 10% discount</li>
        <li><strong>gritmancare:</strong> Gritman Surgery Patient Pricing</li>
        <li><strong>MCC15%OFF:</strong> Corporate Code 15% Discount</li>
        <li><strong>Comp 100%:</strong> For comped rooms with permission</li>
        <li><strong>Lifeflight15:</strong> 15% discount for Lifeflight employees</li>
        <li><strong>10Discount:</strong> 10% Corporate discount Canon Press</li>
        <li><strong>CPress10:</strong> Emsi 10% discount</li>
        <li><strong>Milestone:</strong> Milestone decision Company</li>
        <li><strong>crites1933:</strong> 15% off</li>
    </ul>

<h4 id="refunds">Refunds</h4>

<p><strong>Check with Brett/Nikki/Matt to make sure it is okay!</strong></p>

<h5>For a FULL refund:</h5>

<ol>
    <li>Go to into authorize.net</li>
    <li>Click the transaction Search tab and search with the last 4 digits of the card or the Transaction ID.</li>
    <li>Select the Transaction ID that you want to reduns. When you click on it a window will pop up with a “refund” button. Clicking the refund button will refund the ENTIRE amount. Make sure to cc the customer and reservations@moscowmmonarch.com in the email box.</li>
    <li>Copy the refund Transaction ID and paste it in the corresponding reservation in the “Internal Comments” section. You should also note the refund in the “Register Payments” section.</li>
    <li>Also in the Internal Comments you should list reasons for the refund, who it was approved by and your name and date.</li>
</ol>

<h5>For a PARTIAL refund:</h5>

<ol>
        <li>Login into Authorize.net</li>
        <li>Click the Tools tab to open the Virtual Terminal, and select “Refund a Credit card</li>
        <li>Enter the credit card number ( or just the last 4 digits), the expiration date, and the partial amount</li>
        <li>In the Invoice/Description section, enter the corresponding reservation number from Sirvoy. Also include the guest’s name</li>
        <li>Click the submit button. Make sure to copy and paste the refund Transaction ID confirmation into Sirvoy under the reservation. Edit the “Register Payments” section as needed. Email the guest confirmation of the refund.</li>
        <li>Or follow steps for a full refund. When the window pops up, change the amount to only the amount you are refunding.</li>
    </ol>

<h5>Exceptions:</h5>

<ol>
    <li>You can only refund a credit card that we have charged. You cannot give a refund on a new or different card. For example, if a customer pays with a Visa that expired last month, you cannot refund their new Visa.</li>
    <li>You cannot refund charges over 90 days in Auth.net </li>
    <li>Charges take a couple of days to go through Auth.net. If a transaction has not been “settled” the charge needs to be VOIDED</li>
</ol>